{% extends "theme.html" %}
    {% block content %}
        <h3 align="center">学生注册</h3>
        <form method="POST" action="{% url '注册页面' %}" align="center">
            {% csrf_token %}

            <br>
            用户名
            <br>
            <input type="text" name="用户名">
            <br>
            {{ 用户名已存在 }}
            <br>
            密码
            <br>
            <input type="password" name="密码">
            <br>
            确认密码
            <br>
            <input type="password" name="确认密码">
            <br>
            {{ 密码不一致 }}
            <br>
            <input class="btn btn-primary" type="submit" value="立即注册">
        
        </form>
    {% endblock content %}