{% extends "theme.html" %}
    {% block content %}
        <div class="container">
          <h3 class="jumbotron-heading">编程学习益处</h3>
          <p class="lead text-muted">用有趣的方式学习有用的编程，不仅培养孩子对编程的兴趣，还能锻炼逻辑思维、创造力、想象力、动手能力等。2018年，教育部将编程纳入中小学必修课。拥有编程特长，不仅能为升学加分，更有机会保送名校，为留学国外助力。未来是人工智能的时代，编程无疑将成为核心技能之一，谁掌握编程，谁就能在未来的职业和竞争中占据主动权。</p>
        </div>

       <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
          {% for product in pro %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ product.image.url }}" height="300">
                <div class="card-body">
                  <p class="card-text">{{ product.intro }}</p>
                  <a href="products/{{ product.id }}" class="btn btn-primary">详情</a>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
          {% for product in pro %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ product.image.url }}" height="300">
                <div class="card-body">
                  <p class="card-text">{{ product.intro }}</p>
                  <a href="products/{{ product.id }}" class="btn btn-primary">详情</a>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    {% endblock content %}

{#<!doctype html>#}
{#<html lang="en">#}
{#  {% load staticfiles %}#}
{#  <head>#}
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
{#    <meta name="description" content="">#}
{#    <meta name="author" content="">#}
{#    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">#}
{##}
{#    <title>www.kidcode.com</title>#}
{##}
{#    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/album/">#}
{##}
{#    <!-- Bootstrap core CSS -->#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
{#  </head>#}
{##}
{#  <body>#}
{##}
{#    <header>#}
{#        <nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#          <a class="navbar-brand" href="#">#}
{#              <img src="{% static "gold-medal_3.png" %}" alt="" height="40">#}
{#              金榜学堂</a>#}
{#          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#          </button>#}
{#          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">#}
{#            <div class="navbar-nav ml-auto">#}
{#              <a class="nav-item nav-link" href="#">登陆</a>#}
{#              <a class="nav-item nav-link" href="#">注册</a>#}
{#              <a class="nav-item nav-link" href="#">关于我们</a>#}
{#              <a class="nav-item nav-link" href="">联系我们</a>#}
{#            </div>#}
{#          </div>#}
{#        </nav>#}
{#    </header>#}
{##}
{#    <main role="main">#}
{##}
{#      <section class="jumbotron text-center">#}
{#          <div class="container text-left">#}
{#          </div>#}
{#        <div class="container">#}
{#          <h3 class="jumbotron-heading">编程学习益处</h3>#}
{#          <p class="lead text-muted">用有趣的方式学习有用的编程，不仅培养孩子对编程的兴趣，还能锻炼逻辑思维、创造力、想象力、动手能力等。2018年，教育部将编程纳入中小学必修课。拥有编程特长，不仅能为升学加分，更有机会保送名校，为留学国外助力。未来是人工智能的时代，编程无疑将成为核心技能之一，谁掌握编程，谁就能在未来的职业和竞争中占据主动权。</p>#}
{#        </div>#}
{#      </section>#}
{##}
{#      <div class="album py-5 bg-light">#}
{#        <div class="container">#}
{#          <div class="row">#}
{#            <div class="col-md-4">#}
{#              <div class="card mb-4 shadow-sm">#}
{#                <img class="card-img-top" src="">#}
{#                <div class="card-body">#}
{#                  <p class="card-text">测试</p>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{##}
{#    </main>#}
{##}
{#    <footer class="text-muted">#}
{#      <div class="container">#}
{#        <p class="float-right">#}
{#          <a href="#">回到顶部</a>#}
{#        </p>#}
{#        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>#}
{#        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>#}
{#      </div>#}
{#    </footer>#}
{##}
{##}
{#    <!-- Bootstrap core JavaScript#}
{#    ================================================== -->#}
{#        <!-- Placed at the end of the document so the pages load faster -->#}
{#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>#}
{#  </body>#}
{#</html>#}